page-community{
    .font_center {
        text-align: center;
    }
    h3{
        color: #387ef5;
    }
    .in{
        border-radius: 20px;
    }
    .body{
        background-color: #FFFAF4;
    }
}