page-mydiploma {
    .font_center {
        text-align: center;
    }
    .card {
        background: #6699CC;
        border-radius: 5px;
        
    }
    .card-title{
        color: #fff;
        .icon {
            float: right;
        }
    }
    .note{
        color: #CCFFFF;
    }
}