page-home {
    .font_center {
        text-align: center;
    }
    .body {
        background-color: #FFFAF4;
    }
       
    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
    }
    .content ion-card-content{

background-color: #66B3FF;
    }
    
}
