page-home {
    .font_center {
        text-align: center;
    }
    .body {
        background-color: #FFFAF4;
    }
       
    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
    }
    .yanse{

        background-color: #408db8;
    }
    .title{
        box-shadow: none;
        border-radius: 20px;
    }
    
    .tuijian{
             font-size: 20px;
             color:#408db8;
         }
    .bookname{
        color:gray;
        font-size: 15px;
    }
}
