page-home {
    .font_center {
        text-align: center;
    }
    .body {
        background-color: #EEEEFF;
    }
    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
    }
}
