page-newspage{
    .font_center{
        text-align: center;
        font-family: 微软雅黑;
        margin-top: 20px;
        color: #000;
        font-size: 29px;
    }
    ion-card {
    position: relative;
    text-align: center;
     

  }
  .body{
    
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}