page-me {
    .touxiang {
            border-radius:50%;
            clear: both;
            display: block;
            margin:auto;
    }
    .font_center {
        text-align: center;
    }
    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
    }
    .back{
        background-image: url('../../assets/back_me.jpg');
    }
    .body{
        background-color: #FFFAF4;

    }
}
