page-dipdetail {
    .back{
        background: "light";
    }
    .font_center {
        text-align: center;
    }
    .zhongjian{
        text-align: center;
    }
    .card {
        background:lightgrey;
        border-radius: 5px;
        box-shadow: none;
        
    }
    .card-title {
        color: black;
    }
    .lable{
        color: black;
    }
    .card-content>.p{
        color:black;
    }
    .anjian{
         border-radius: 5px;
         box-shadow: none;
         width: 94%;
         align-self: center;
         background-color:"rouhe";
    }
    .chip{
        float: left;
    }
}
